[submodule "SSD-and-Keypad-"]
	path = SSD-and-Keypad-
	url = https://github.com/stevenhernandezz/SSD-and-Keypad-
[submodule "Pulse-Width-Modulation-PWM-"]
	path = Pulse-Width-Modulation-PWM-
	url = https://github.com/stevenhernandezz/Pulse-Width-Modulation-PWM-
[submodule "VGA"]
	path = VGA
	url = https://github.com/stevenhernandezz/VGA
[submodule "RAM-and-Buffer-of-FPGA"]
	path = RAM-and-Buffer-of-FPGA
	url = https://github.com/stevenhernandezz/RAM-and-Buffer-of-FPGA
[submodule "FSM"]
	path = FSM
	url = https://github.com/stevenhernandezz/FSM
